@font-face {
    font-family: 'Sora';
    src: url('Sora-Bold.eot');
    src: url('Sora-Bold.eot?#iefix') format('embedded-opentype'),
        url('Sora-Bold.woff2') format('woff2'),
        url('Sora-Bold.woff') format('woff'),
        url('Sora-Bold.ttf') format('truetype'),
        url('Sora-Bold.svg#Sora-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-Light.eot');
    src: url('Sora-Light.eot?#iefix') format('embedded-opentype'),
        url('Sora-Light.woff2') format('woff2'),
        url('Sora-Light.woff') format('woff'),
        url('Sora-Light.ttf') format('truetype'),
        url('Sora-Light.svg#Sora-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-Medium.eot');
    src: url('Sora-Medium.eot?#iefix') format('embedded-opentype'),
        url('Sora-Medium.woff2') format('woff2'),
        url('Sora-Medium.woff') format('woff'),
        url('Sora-Medium.ttf') format('truetype'),
        url('Sora-Medium.svg#Sora-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-ExtraLight.eot');
    src: url('Sora-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Sora-ExtraLight.woff2') format('woff2'),
        url('Sora-ExtraLight.woff') format('woff'),
        url('Sora-ExtraLight.ttf') format('truetype'),
        url('Sora-ExtraLight.svg#Sora-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-ExtraBold.eot');
    src: url('Sora-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Sora-ExtraBold.woff2') format('woff2'),
        url('Sora-ExtraBold.woff') format('woff'),
        url('Sora-ExtraBold.ttf') format('truetype'),
        url('Sora-ExtraBold.svg#Sora-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-SemiBold.eot');
    src: url('Sora-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Sora-SemiBold.woff2') format('woff2'),
        url('Sora-SemiBold.woff') format('woff'),
        url('Sora-SemiBold.ttf') format('truetype'),
        url('Sora-SemiBold.svg#Sora-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-Regular.eot');
    src: url('Sora-Regular.eot?#iefix') format('embedded-opentype'),
        url('Sora-Regular.woff2') format('woff2'),
        url('Sora-Regular.woff') format('woff'),
        url('Sora-Regular.ttf') format('truetype'),
        url('Sora-Regular.svg#Sora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('Sora-Thin.eot');
    src: url('Sora-Thin.eot?#iefix') format('embedded-opentype'),
        url('Sora-Thin.woff2') format('woff2'),
        url('Sora-Thin.woff') format('woff'),
        url('Sora-Thin.ttf') format('truetype'),
        url('Sora-Thin.svg#Sora-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

header.header-section {
    position: absolute;
    z-index: 999;
    padding: 15px 0;
    width: 100%;
    left: 0;
    right: 0;
}

.header-inner-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-header ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.navigation-header ul li a {
    color: #fff;
}

.button-header-group > a {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    line-height: 1;
    color: #333333;
}

.button-header-group > a svg {}

.button-header-group > a  span {
    line-height: 0.5;
    display: inline-block;
}